PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://user_name:<db_password>@cluster0.w7jvoww.mongodb.net/?appName=Cluster0
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d