PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://user_name:<db_password>@cluster0.w7jvoww.mongodb.net/?appName=Cluster0
JWT_ACCESS_SECRET=access_secret_123
JWT_REFRESH_SECRET=refresh_secret_123
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
REDIS_HOST=localhost
REDIS_PORT=6379
MAX_FILE_SIZE=104857600
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET_NAME=file-server
MINIO_USE_SSL=false